<!DOCTYPE html>
<html>
    <head>
        <title>Sportogress</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        
    

    </head>




    <body>


<nav style="margin-top:s "  class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('Home_page') }}"><img   <img class = "circle_pic" src="{{url_for('static', filename='logo.jpg')}}"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
              <ul class="nav navbar-nav" style="display: block;">
                       <li class="">
                            <a class="no-bg" href="{{url_for('get_session')}}">1:1 session</a>
                        </li>
                        <li class="">
                            <a href="{{ url_for('LogIn_page') }}">Login</a>
                        </li>
                        <li class="">
                            <a href="{{ url_for('Register') }}">Register</a>
                        </li>
                        <li class="">
                            <a href="https://thenx.com/FAQ">F.A.Q</a>
                        </li>
                         <li class="nav-item">
                          <a  class="nav-link" href="{{ url_for('sign_out') }}">Log Out</a>
                        </li>
                        <li class="">
                          <p class="nav-link">   Welcome:  {{username}}</p>
                        </li>
               </ul>
            </div><!--/.nav-collapse -->
        </div>

    </nav>


<br><br><br>

            

          
<div class="exercises_container">
<div id="content_box">
      <h1 class="postsby">
        <span>Category: Core Body Exercises</span>
      </h1>
      <section id="latest-posts" class="clearfix">
<p><img class="alignright size-full wp-image-226" src="https://www.street-workouts.com/wp-content/uploads/2015/12/core-body.jpg?5870d3" alt="core body exercises" width="270" height="169"><br>The core of the body is broadly considered to be the torso.<br>
 The core muscles are used for almost every movement of the human body.<br>
  So you can easily say that every street workout routine or calisthenics exercise will require a strong core body.<br>
   The exercises below are specifically selected to train your core muscles.<br>
    The star rating next to each exercise indicates the intensity and difficulty of the workout.<br>
  </p>
<p>Not only will the core determine for a large part the look of someone’s posture,<br> research has also shown that persons with higher core stability have a lower risk of injury!</p>
<h3><strong>HERE IS A LIST OF CORE&nbsp;BODY EXERCISES TO CONSIDER THE&nbsp;NEXT TIME YOU HIT THE STREETS:</strong></h3>
                              <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
                
                    <img width="390" height="250" src="https://www.street-workouts.com/wp-content/uploads/2016/02/Human-Flag-Sidarta-390x250.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="Human Flag Street Workout" title="">             
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Human Flag   </h2>
                              <div class="post-info">
                                
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-132 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:100%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            The human flag is an advanced street workout move.<br>
                             Even for experienced athletes this is one of the more difficult exercises.<br> The human flag requires a very strong core body.<br>  &nbsp;Not only does it grab plenty of attention,<br>
                              but it’s a great full body exercise that trains the side abs, lats, and shoulders.<br>
                               To achieve this gravity-defying exercise, it’s important to make sure you know how to perform the human flag correctly.
                               <br> This will help keep you from injuries and ensure you have the best chance to perform this maneuver.&nbsp;      <br>                  </div>
                               
                                            </div>
            </div>
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
              
                    <img width="390" height="250" src="https://i.ytimg.com/vi/nCxPSrmKZ7E/maxresdefault.jpg" class="attachment-best-featured size-best-featured wp-post-image" alt="Planche street workout" title="">               
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Planche</h2>
                              <div class="post-info">
                                
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-152 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:100%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            Before you start with the first exercise you need some basic strength.<br>
                             You should be able to do at least 30 push-ups, 20 triceps dips <br>
                           and hold a plank position for 120 seconds.<br> Handstand push-ups are also a great way to train your shoulders and prepare for the full planche position.&nbsp;                      </div>
                              <br>

                                <div class="readMore">
           
        </div>
                                            </div>
            </div>
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
               
                    <img width="390" height="250" src="https://i.ytimg.com/vi/X3cBwpEjaHs/maxresdefault.jpg" class="attachment-best-featured size-best-featured wp-post-image" alt="front lever Street Workout" title="">              
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Front lever</h2>
                              <div class="post-info">
                                
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-149 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:100%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            The front lever is an advanced calisthenics exercise that you will not learn over night.<br>
                             It requires a lot of training and dedication before you are able to perform&nbsp;a perfect front lever.
                             &nbsp;      
                             <br>                  </div>
                                <div class="readMore">
           
        </div>
                                            </div>
            </div>
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
              
                    <img width="333" height="250" src="https://www.street-workouts.com/wp-content/uploads/2015/12/Elbow-lever-street-workout.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="Elbow lever street workout" title="" srcset="https://www.street-workouts.com/wp-content/uploads/2015/12/Elbow-lever-street-workout.jpg 525w, https://www.street-workouts.com/wp-content/uploads/2015/12/Elbow-lever-street-workout-300x225.jpg 300w, https://www.street-workouts.com/wp-content/uploads/2015/12/Elbow-lever-street-workout-320x240.jpg 320w" sizes="(max-width: 333px) 100vw, 333px">            
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Elbow lever</h2>
                              <div class="post-info">
                              
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-368 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:80%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            The elbow lever is a position where the body is held up horizontal to the ground.<br>
                             But unlike the planche (where there is NO support along the length of the body),<br> 
                           the elbow lever uses one’s elbows as a resting and balancing point for the body.<br>
                            This makes the skill much easier than a planche. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;                        </div>


           
    
                                            </div>
            </div>
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
              
                    <img width="390" height="250" src="https://www.street-workouts.com/wp-content/uploads/2015/12/Back-lever-Dobo-Kristian-390x250.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="Back lever street workout" title="">              
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Back lever</h2>
                              <div class="post-info">
                               
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-155 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:100%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            The back lever exercise is an advanced street workout move and requires a very strong core body.<br>
                             The exercise is similar to the front lever, but than with your face towards the ground.<br>
                              It’s a great move to train you arms, shoulders and back. With your body held out horizontally,<br> 
                              your core must support everything to stay in line.<br>
                               Even experienced athletes will find this a hard move and need some training before they can do a proper back lever.<br>
                                The key to the back lever is body tension.<br> 
                                Below is explained how you can progress towards a full back lever workout.<br>
                                 When your body tension isn’t strong enough yet, you might want to start with other core body exercises first.


                 </div>
        
                                            </div>
            </div>
                    </article><!--.post-box-->
                                
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
                
                    <img width="390" height="250" src="https://www.street-workouts.com/wp-content/uploads/2015/11/L-sit-hang-Syda-Productions-390x250.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="L-sit hang on bar" title="">               
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">L-sit hang on bar</h2>
                              <div class="post-info">
                                
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-127 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:60%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            The L-sit hang is technically not so difficult to perform,<br>
                             but you will notice that this static position&nbsp;is pretty hard to hold for a few seconds.<br>
                              The L-sit hang is very effective for your abs and core.<br>
                               While hanging on the bar you also train your arms and shoulder.<br>
                                If you prefer similar but more dynamic moves, then have a look at the hanging leg raise or hanging windshield wipers.<br>

HOW TO DO A L-SIT HANG<br>
Hang on a bar and slowly raise your legs  in a 90 degree position as pictured below.<br>
 Hold this position as long as you can.<br>
   If this is too heavy for you, than you can first try to raise one leg or you can start with your knees bend.&nbsp;…                        </div><br>

          
                                            </div>
            </div>
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
            
                    <img width="390" height="250" src="https://www.street-workouts.com/wp-content/uploads/2015/11/L-sit-Juriah-Mosin-390x250.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="L-sit street workout" title="">
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">L-sit</h2>
                              <div class="post-info">
                                
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-120 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:60%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            The L-sit exercise is a great workout for your abs,<br>
                             but the rest of your body will benefit from this core body exercise as well.<br>

HOW TO PERFORM THE L-SIT<br>
Keep your legs straight in front of you in a 90 degree position and hold this position as long as possible.<br>
 Your full bodyweight should be carried by your arms.<br>
  You can either rest on the ground or two parallel bars.<br>
   To add more difficulty you can perform an L-sit on your finger tips as shown below.<br>
    Alternatively you can do the L-sit while hanging on a bar.<br>
     The L-sit hang is easier, because it puts less strain on your chest and shoulder muscles.<br></div><br>


         
                                            </div>
            </div>
                    </article><!--.post-box-->
                               
                <!--Start Pagination-->
              <div class="more-page-2 ajax-more-page"></div>
            <!--End Pagination-->
      </section><!--#latest-posts-->
    </div>
                  

</div>
              
          
          
 <center>
         

        <div class="bottom">
                <h4>Follow Us</h4>
            
         
                      <a target="_blank" href="https://www.instagram.com/noamerzen/"><img src="https://thenx.com/thenx_front_resource/images/insta.png" alt="insta"></a>
          
          
                      <a target="_blank" href="https://www.youtube.com/channel/UC1P2Xi4rTD-vncU_4ghRBAA/featured"><img src="https://thenx.com/thenx_front_resource/images/youtube.png" alt="youtube"></a>
          
      </div>
   
 </center>       

             <!-- Add JQuery and Bootstrap JS to the page -->
             <!-- JQuery MUST BE BEFORE BOOTSTRAP -->
         <script src="{{ url_for('static', filename='jquery.js') }}"></script>
         <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
        
              <script>
                var myIndex = 0;
                carousel();

                function carousel() {
                  var i;
                  var x = document.getElementsByClassName("mySlides");
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";  
                  }
                  myIndex++;
                  if (myIndex > x.length) {myIndex = 1}    
                  x[myIndex-1].style.display = "block";  
                  setTimeout(carousel, 9000);    
                }
              </script>





              <script>
        $('#email_verification').on('click', function () {
            $.ajax({
                type: 'POST',
                url: "https://thenx.com/sendVerificationFromHeader",
                beforeSend: function () {
                    $('#loading_img').show();
                    $('#tick_img').hide();
                },
                success: function () {
                    $('#loading_img').hide();
                    $('#tick_img').show();
                    $('#tick_img').delay(3200).fadeOut(400);
                },
                error: function () {
                    alert('Something Went Wrong , please Try Again');
                }
            });
        });
    </script>

    </body>
</html>
