<!DOCTYPE html>
<html>
    <head>
        <title>Sportogress</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        


    </head>
    <body background="http://img3.flowparks.com/Street-Workout-Park-Gliwice,eef,a,gaa.jpg">
        <div class="navbar">
          <div class="form-inline">
           <div class="collapse navbar-collapse" id="navbarNav">
            <a href="{{ url_for('Home_page') }}"> 
                 <img class = "circle_pic" src="{{url_for('static', filename='logo.jpg')}}">
            </a>
            <div class="rtl">
                <a  href="{{ url_for('Register') }}">Register</a>
            </div>
             
     
           </div>
            
          </div>
            
        </div>
     



  <div class="LogInClass">
      <center>
        <br/><br/>
      <form  action="/Login" method="post" style="font-size: 20px">
        <h1><center><font>Log In</font></center></h1><br/>
            USER NAME:  <input type="text" name="txb_uname" placeholder="User name"><br/><br/>
            PASSWORD: <input type="password" name="txb_pass" placeholder="password" ><br/><br/>
            <div style="color: red;">{{wrong}}</div><br/>
            <input type="submit" name="btnsubmit" value="Login">

          </form> 

      </center>
  </div>
</div>
<div class="container">
<div class="content">


    
</div>  
</div>

<div class="sidebar">
</div>
</div>
       <!-- Add JQuery and Bootstrap JS to the page -->
       <!-- JQuery MUST BE BEFORE BOOTSTRAP -->
       <script src="{{ url_for('static', filename='jquery.js') }}"></script>
       <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>

    </body>
</html>
