<!DOCTYPE html>
<html>
    <head>
        <title>Sportogress</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        
    

    </head>




    <body>



<nav style="margin-top:s "  class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('Home_page') }}"><img   <img class = "circle_pic" src="{{url_for('static', filename='logo.jpg')}}"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
              <ul class="nav navbar-nav" style="display: block;">
                       <li class="">
                            <a class="no-bg" href="{{url_for('get_session')}}">1:1 session</a>
                        </li>
                        <li class="">
                            <a href="{{ url_for('LogIn_page') }}">Login</a>
                        </li>
                        <li class="">
                            <a href="{{ url_for('Register') }}">Register</a>
                        </li>
                        <li class="">
                            <a href="{{ url_for('FAQ_page') }}">F.A.Q</a>
                        </li>
                         <li class="nav-item">
                          <a  class="nav-link" href="{{ url_for('sign_out') }}">Log Out</a>
                        </li>
                        <li class="">
                          <a href="nav-link">
                             <p class="nav-link">   Welcome:  {{username}}</p>
                          </a>
                         
                        </li>
               </ul>
            </div><!--/.nav-collapse -->
        </div>

    </nav>

<br><br><br>
            

<div class="article">
    <div id="content_box">
      <h1 class="postsby">
        <span>Category: Lower Body Exercises</span>
      </h1>
      <section id="latest-posts" class="clearfix">
<p><img class="alignright wp-image-223 size-medium" src="https://www.street-workouts.com/wp-content/uploads/2015/12/Lower-body-muscles-264x300.jpg?5870d3" alt="Lower body muscles" width="264" height="300"><br>A simple way to get your lower body in great shape is to move your calisthenics to the park and opt for a street workout.<br>
 If you choose the right lower body exercises and execute them properly,<br>
  you will have no problem getting the strength, tone and shape you want.<br>
&nbsp;While squatting&nbsp;is certainly a viable street workout,<br>
 adding variety can spice things up and more effectively target your hamstrings, quads, adductors, lower abs and&nbsp;glutes.<br></p>

<p>The muscles in your lower body serve important functions.<br> They impact your ability to bend, lift, walk, balance, stand and sit.</p><br>

<h3><strong>Here is a list of lower body exercises to consider the&nbsp;next time you hit the streets:</strong></h3><br>
                              <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
               
                    <img width="390" height="250" src="https://www.street-workouts.com/wp-content/uploads/2015/12/pistol-squat-Angela-Aladro-mella-390x250.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="pistol squat street wokrout" title="">              
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Pistol Squat</h2>
                              <div class="post-info">
                                
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-74 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:100%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            The pistol squat is a more advanced version of the regular squat.<br> 
                            It's actually a squad on one leg.<br>
                             The pistol squat is an advanced exercise for experienced athletes. <br>
                             <br>

                                            </div>
            </div>
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
             
                    <img width="390" height="250" src="https://www.street-workouts.com/wp-content/uploads/2016/01/Split-squat-Dragon-Images-390x250.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="Split squat street workout" title="">              
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Split squats</h2>
                              <div class="post-info">
                               
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-575 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:40%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            The split squat is similar to lunges, although with the split squat you don’t go back to a standing position.<br>
                             The glutes, hamstrings and quads are the primarily muscles involved.<br>
                              You can perform the split squat either on a flat underground or you can place your rear foot on a park bench or low bar.<br>
                              KEY ELEMENTS OF SPLIT SQUATS<br>

Keep your upper body strait during the whole exercise.<br>
In the top position both knees are slightly bent with the feet split fairly far apart.<br>
In the bottom, both knees make roughly a 90-degree angle.<br>
The back knee should not be touching the floor at the bottom position.&nbsp;    <br>           </div>
                       
                                            </div>
            </div>
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
              
                    <img width="375" height="250" src="https://www.street-workouts.com/wp-content/uploads/2015/11/Squats-on-the-street.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="Squats street workout" title="" srcset="https://www.street-workouts.com/wp-content/uploads/2015/11/Squats-on-the-street.jpg 1688w, https://www.street-workouts.com/wp-content/uploads/2015/11/Squats-on-the-street-300x200.jpg 300w, https://www.street-workouts.com/wp-content/uploads/2015/11/Squats-on-the-street-1024x682.jpg 1024w" sizes="(max-width: 375px) 100vw, 375px">              
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Squat</h2>
                              <div class="post-info">
                               
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-112 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:60%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            The squat is a classic and very effective exercise that should be included in every street workout routine.<br>
                             It&nbsp;is one of&nbsp;the greatest all-around exercises; it targets your quadriceps, hamstrings, and glutes.<br>
                              For&nbsp;muscle-building benefits, you don't need to train like a power-lifter.<br>
                               Just increase your reps.<br>
                                Whether your goal is to gain strength or lose weight,<br>
                                 squats are one of the fastest ways to get there.<br>

HOW TO PERFORM A PROPER SQUAT<br>
Stand with your feet slightly wider than your hips. <br>
 Your toes should be pointed slightly outward.<br>
Look straight ahead and pick a spot on the wall in front of you.<br>
 You’ll want to look at this spot the entire time you squat, not looking down at the floor or up at the ceiling.<br>

Keep your spine in a neutral position.<br>
 This means don’t round your back, but also don’t hyper extend and over accentuate the natural arch of your back.<br>

As you squat down, focus on keeping your knees in line with your feet.<br>

Squat down until your hip joint is lower than your knees.&nbsp;  <br><br>                    </div>
                              
                                            </div>
            </div>
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
             
                    <img width="390" height="250" src="https://www.street-workouts.com/wp-content/uploads/2015/11/Step-up-Jacob-Lund-390x250.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="Step up" title="">               
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Step ups</h2>
                              <div class="post-info">
                                
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-108 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:40%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            If you want to feel the fire in your abductors, quads, calves and&nbsp;glutes,<br>
                             using step up leg exercises will definitely heat things up.<br>
                              Stand in front of either a park bench or a step with  your feet positioned hip-distance apart.<br>
                               Step up with your right foot, push yourself up and place your left foot on the surface next to your right one.<br>
                                Step down with your right foot first, and then your left foot.<br>
                                 Repeat the movements, stepping up with alternating legs each time.&nbsp;                       </div><br><br>

         
                                            </div>
            </div>
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
            
                    <img width="390" height="250" src="https://www.street-workouts.com/wp-content/uploads/2015/11/plank-with-knee-bends-BLACKDAY-390x250.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="plank with knee bends - BLACKDAY" title="">              
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Planks with Knee Bends</h2>
                              <div class="post-info">
                                
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-91 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:40%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            If you want a workout that is all about body weight training and lower body core strength,<br>
                             this exercise will do the trick.<br>
                              Assume the plank position, but now lift your right foot off the ground and bend your knee toward your chest.<br>
                               Return the foot to the starting position and repeat the movements, alternating sides.&nbsp;           <br><br>            </div>


           
                                            </div>
            </div>
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
          
                    <img width="375" height="250" src="https://www.street-workouts.com/wp-content/uploads/2015/11/Wall-sit-street-workout.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="Wall sit street workout" title="" srcset="https://www.street-workouts.com/wp-content/uploads/2015/11/Wall-sit-street-workout.jpg 450w, https://www.street-workouts.com/wp-content/uploads/2015/11/Wall-sit-street-workout-300x200.jpg 300w" sizes="(max-width: 375px) 100vw, 375px">              
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Wall sit (with one leg)</h2>
                              <div class="post-info">
                            
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-88 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:60%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            The wall sit is a simple street workout&nbsp;to perform,<br>
                             but it can be very challenging at&nbsp;the same time.<br>
                             &nbsp;With this exercise you train the endurance of your upper legs.<br>
                             &nbsp;You thought a 5 minute wall sit is tough?<br>
                              Well according to Guinniss world records the longest static wall sit is 11 hr 51 min 14 sec achieved by Dr.<br>
                               Thienna Ho (Vietnam) at the World Team USA Gymnasium in San Francisco, California, USA, on 20 December 2008!<br>


HOW TO PERFORM A PROPER WALL SIT<br>
Place your back against the wall or another unmovable object like a tree.<br>
 Put your legs in an angle of 90 degrees (like you pretend to sit on a chair).<br>

You can start a challenge with your friends and see who can stay in this positions the longest.<br>
 To make it a bit harder, you can raise one leg straight in front of you and make a wall sit with one leg.&nbsp;                        </div>
                             <br><br>
                                            </div>
            </div>
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
             
                    <img width="390" height="250" src="https://www.street-workouts.com/wp-content/uploads/2015/11/jump-on-box-Jacob-Lund-390x250.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="jump on box" title="">                
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Jump on box</h2>
                              <div class="post-info">
                             
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-85 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:60%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            Effective lower body workouts do not always require heavy gym equipment or a roof.<br>
                             You can work every muscle in your leg, thigh, calf, bum and lower abdomen by using the space outdoors.<br>
                              Street workouts are effective in that they can improve the appearance of your lower body and make you an overall healthier person.<br>
                               By jumping on a higher object like a box, chair or any thing else you can effectively train your legs.&nbsp; <br><br>                 </div>
                            
                                            </div>
            </div>
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
             
                    <img width="250" height="250" src="https://www.street-workouts.com/wp-content/uploads/2015/11/Butt-burner-street-workout.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="Butt burner street workout" title="" srcset="https://www.street-workouts.com/wp-content/uploads/2015/11/Butt-burner-street-workout.jpg 360w, https://www.street-workouts.com/wp-content/uploads/2015/11/Butt-burner-street-workout-150x150.jpg 150w, https://www.street-workouts.com/wp-content/uploads/2015/11/Butt-burner-street-workout-300x300.jpg 300w, https://www.street-workouts.com/wp-content/uploads/2015/11/Butt-burner-street-workout-65x65.jpg 65w, https://www.street-workouts.com/wp-content/uploads/2015/11/Butt-burner-street-workout-115x115.jpg 115w" sizes="(max-width: 250px) 100vw, 250px">              
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Butt Burner</h2>
                              <div class="post-info">
                             
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-71 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:40%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            Flabby butt cheeks don’t have a chance with the butt burner.<br>
                             The key to this calisthenics exercise is keeping the movements slow and controlled.<br>
                              Also, since you will be on your hands and knees during this street workout,<br>
                               using the grassy area at the park is ideal – as long as Fido doesn’t get there first.<br> 
                               Alternatively, you can use a folded towel or t-shirt under your knees to protect them from the hard surface.<br>



HOW TO DO A BUTT BURNER EXERCISE<br>

Get on all fours and tighten your abdominals.<br>
Keep your hands and elbows aligned with your shoulders, and your knees directly aligned with your hips.<br>
Slowly raise your left knee to the side and lengthen the leg straight back.<br>
Bend the knee, slowly pull your leg back in, and return it to the starting position.&nbsp;<br><br>                       </div>
                
                                            </div>
            </div>
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
              
                    <img width="390" height="250" src="https://www.street-workouts.com/wp-content/uploads/2015/11/Lunges-studioloco-390x250.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="Walking Lunges" title="">               
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Walking lunges</h2>
                              <div class="post-info">
                         
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-68 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:60%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            Walking lunges are simple, but effective for targeting the quads and&nbsp;glutes.<br>
                             Since this exercise is similar to walking, doing it outdoors makes perfect sense.<br>
                              HOW TO PERFORM WALKING LUNGES<br>
                               Stand tall, tighten your core and put your feet together.<br>
                                You can either place your hands behind your head or on your hips.<br>
                                 If you are a beginner, you may feel more comfortable placing them on your hips for balance.<br>
                                  Step forward with your right leg and bend both of your knees.<br>
                                   Keep your front knee aligned directly over your ankle and let your back knee bend until it is close to the ground.<br>
                                    As you sink your back knee down, let your back heel lift naturally off the ground. Alternate legs as you progress forward.<br>


Alternatively you could perform jumping lunges for more explosive strength.&nbsp;  <br><br>                      </div>
                            
                                            </div>
            </div>
                    </article><!--.post-box-->
                                  <article class="test latestPost post-box vertical  ">
                        <div class="post-img">
              
                    <img width="390" height="250" src="https://www.street-workouts.com/wp-content/uploads/2015/11/burpee-Alexander-Makatserchyk-390x250.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="burpee street workout" title="">               
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Burpee</h2>
                              <div class="post-info">
                              
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-174 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:60%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            The Burpee is a great calisthenics exercise to train you whole body.
                            <br> With this full body street workout&nbsp;you will train your arms, abs and legs.<br>
                             Burpees can also be used as a warming up.<br>
                              If your an advanced adthlete, then you might like to try the Backflip <br>
                              Burpee! HOW TO DO A BURPEE<br>
Begin in a standing position with your legs at shoulder width.<br>
Drop into a squat position with your hands on the ground.<br>
Extend both your feet back into a push up position.<br>
Perform a push up.<br>
Return to the squat position in one quick motion.<br>
Return to standing position and jump straight in the air.&nbsp;       <br><br>                 </div>
            
                                            </div>
            </div>
                    </article><!--.post-box-->
                <!--Start Pagination-->
              <div class="more-page-2 ajax-more-page"><article class="test latestPost post-box vertical  ">
                        <div class="post-img">
                
                    <img width="390" height="250" src="https://www.street-workouts.com/wp-content/uploads/2015/11/knee-raise-Maridav-1-390x250.jpg?5870d3" class="attachment-best-featured size-best-featured wp-post-image" alt="knee raise - Maridav" title="">               
            </div>
            <div class="post-data">
                <div class="post-data-container">
                    <header>
                        <h2 class="title post-title">Hanging knee raise</h2>
                              <div class="post-info">
                              
                            <div class="review-type-star review-total-only wp-review-show-total wp-review-total-401 wp-review-total-star" style="color:#fff!important;background-color: #3498db;"> <div class="review-star">
  <div class="review-result-wrapper">
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <i class="mts-icon-star"></i>
    <div class="review-result" style="width:40%; color:#fff!important;">
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
      <i class="mts-icon-star"></i>
    </div><!-- .review-result -->
  </div><!-- .review-result-wrapper -->
</div><!-- .review-star -->
</div>      </div>
                        </header>
                                            <div class="post-excerpt">
                            The hanging knee raise is an easy exercise to start with.<br>
                             All you need is a high bar, you can hang on.<br>
                              It is important to keep the motion slow and controlled.<br>
                               In that way the knee raise is an effective workout to train you abs and core muscles. <br>
Once you can do many controlled reps of the knee raise,<br>
 it’s time to try the hanging leg raise with straight legs.<br>
  You can also try the twisting hanging knee raise to target other muscles like your side abs.<br><br>

&nbsp;                        </div>
               
                                            </div>
            </div>
                    </article></div><div class="more-page-3"></div>
            <!--End Pagination-->
      </section><!--#latest-posts-->
    </div>
  </div>
              
          
          
 <center>
         

        <div class="bottom">
                <h4>Follow Us</h4>
            
         
                      <a target="_blank" href="https://www.instagram.com/noamerzen/"><img src="https://thenx.com/thenx_front_resource/images/insta.png" alt="insta"></a>
          
          
                      <a target="_blank" href="https://www.youtube.com/channel/UC1P2Xi4rTD-vncU_4ghRBAA/featured"><img src="https://thenx.com/thenx_front_resource/images/youtube.png" alt="youtube"></a>
          
      </div>
   
 </center>       

             <!-- Add JQuery and Bootstrap JS to the page -->
             <!-- JQuery MUST BE BEFORE BOOTSTRAP -->
         <script src="{{ url_for('static', filename='jquery.js') }}"></script>
         <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
        
              <script>
                var myIndex = 0;
                carousel();

                function carousel() {
                  var i;
                  var x = document.getElementsByClassName("mySlides");
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";  
                  }
                  myIndex++;
                  if (myIndex > x.length) {myIndex = 1}    
                  x[myIndex-1].style.display = "block";  
                  setTimeout(carousel, 9000);    
                }
              </script>





              <script>
        $('#email_verification').on('click', function () {
            $.ajax({
                type: 'POST',
                url: "https://thenx.com/sendVerificationFromHeader",
                beforeSend: function () {
                    $('#loading_img').show();
                    $('#tick_img').hide();
                },
                success: function () {
                    $('#loading_img').hide();
                    $('#tick_img').show();
                    $('#tick_img').delay(3200).fadeOut(400);
                },
                error: function () {
                    alert('Something Went Wrong , please Try Again');
                }
            });
        });
    </script>

    </body>
</html>
